*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  grid-template-areas:
  "result content__details";
  align-items: end;
  gap: 30px;
}

.result {
  grid-area: result;
  display: flex;
  flex-direction: column;
  align-content: end;
  gap: 16px;
}

.result__video-container {
  position: relative;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: grid;
  grid-template-columns: 225px 212px 194px;
  place-content: end space-between;
  place-items: end stretch;
  gap: 40px;
}

.button {
  min-height: 34px;
  color: inherit;
  border: #fff solid 1px;
  font-weight: 700;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
}

.button:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: #fff solid 1px;
  outline-offset: 1px;
}

.button:active {
  background-color: #545050;
}

.search-form__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 7px;
  flex-grow: 1;
}

.search-form__fieldset + .search-form__fieldset {
  margin-bottom: 5px;
}

.search-form__textfield {
  border-top: #fff solid 1px;
  border-bottom: #fff solid 1px;
  border-left: none;
  border-right: none;
  background-color: inherit;
  appearance: none;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: inherit;
  line-height: 100%;
  min-width: 225px;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__label:hover .search-form__label-text{
  text-decoration: underline;
  text-decoration-skip-ink: none;
  cursor: pointer;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: #fff solid 1px;
  outline-offset: 1px;
  caret-color: transparent;
}

.search-form__textfield:active {
  border: #fff solid 1px;
  caret-color: transparent;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  align-items: center;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: #fff solid 1px;
}

input[type="checkbox"]:checked + .search-form__pseudo-checkbox::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.content__details {
  grid-area: content__details;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  gap: 23px;
}

.title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  padding-top: 2px;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  height: 298px;
  overflow: auto;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 1px;
}

.content__card-link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  cursor: pointer;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: #fff solid 1px;
  outline-offset: 1px;
  border-radius: 0;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.content__video-card-title {
  width: 196px;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  line-height: 100%;
}

.content__video-card-description {
  padding-top: 5px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  line-height: 16px;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  line-clamp: 4;
  -webkit-line-clamp: 4;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-position: center;
  object-fit: cover;
}

.content__video-card-description-container {
  flex-grow: 1;
  overflow: hidden;
}

.more-button {
  width: 100%;
  margin-top: 30px;
}
